body {
  padding: 0;
  margin: 0;
}

.testimonials {
  position: relative;
  min-width: 700px;
  background: #ffffff;
}

h2 {
  position: relative;
  margin-bottom: 65px;
  font-family: Raleway, sans-serif;
  color: #212121;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

h2:after {
  content: '';
  position: absolute;
  display: block;
  top: 60px;
  left: 47%;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background: url(../img/separator-1.png) no-repeat;
}

p {
  font-family: Opensans, sans-serif;
  font-size: 14px;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  max-width: 1050px;
  min-width: 700px;
  height: 220px;
  text-align: left;
  box-sizing: border-box;
}

.unit {
  position: absolute;
}

.col1 {
  width: 33%;
}

.col2 {
  left: 37%;
  width: 34%;
}

.col3 {
  right: -75px;
  width: 33%;
}

.text {
  display: block;
  background: url(http:../img/test-bg.png) no-repeat;
  width: 270px;
  height: 150px;
  border-radius: 5px;
  margin-top: -15px;
}

.text p {
  font-style: italic;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.avatar {
  float: left;
}

.av_cap {
  float: right;
}

h3, h4 {
  text-align: center;
  margin-bottom: -7px;
  margin-top: 10px;
}

h4 {
  font-size: 14px;
  font-family: Opensans, sans-serif;
  font-weight: normal;
  color: #86878b;
  margin-left: 10px;
}

.custom {
  background: url(../img/custom_bg.png);
  width: 100%;
  height: 320px;
}

.custom h2 {
  position: relative;
  color: #ffffff;
  padding-top: 75px;
  margin-bottom: 50px;
}

.custom h2:after {
  content: '';
  position: absolute;
  display: block;
  top: 130px;
  left: 47%;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background: url(../img/separator-2.png) no-repeat;
}

.custom p {
  color: #86878b;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  width: 135px;
  height: 40px;
  font-family: Opensans, sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-weight: 200;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  transition: all ease .2s;
}

.button:hover {
  transform: rotate(5deg);
  transition: all ease .2s;
}
